.search-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    >:nth-child(1) {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        span {
            font-size: 3rem;
        }

        input {
            width: 100%;
            height: 5rem;
            padding-left: 2rem;
            font-size: 2rem;
            background-color: #f2f2f2;
            border: none;
            outline: none;
            border-radius: 3rem;
            margin-top: 1rem;
        }


    }

    >:nth-child(2) {
        width: 65%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        >div {
            width: 100%;
            height: 15rem;
            padding: 1rem;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 1rem;
            margin-top: 1rem;

            >:nth-child(1) {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 80%;
                padding-left: 2rem;

                >h1 {
                    font-size: 2.5rem;
                    margin-top: 0.5rem;
                }

                >h2 {
                    font-size: 1.8rem;
                    margin-top: 0.5rem;
                }
                >h4{
                    font-size: 1.5rem;
                    margin-top: 0.5rem;
                }

                >a{
                    color:crimson;
                    margin-top: 0.5rem;
                    font-size: medium;
                }



            }

            >:nth-child(2) {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                >img {
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                }
            }


           



        }
    }

}